* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* nav section */
.nav-color {
    background-color: rgba(0, 0, 0, 0.76);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e") !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.574) !important;
}

.dropdown-menu a {
    color: white !important;
}

.dropdown-menu a:hover {
    background-color: #444;
}

/* End of navbar */

html,
body {
    overflow-x: hidden;
}

/* Hero section */
.bg-hero {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-image 1s ease-in-out;
}

.dark-hero-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.577);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
}

.js-typing {
    font-family: monospace;
    font-size: clamp(18px, 5vw, 40px);
    border-right: 2px solid #000;
    display: inline-block;
    max-width: 90vw;
    overflow: hidden;
}

/* End of hero section */


/* Services */
.service-bg {
    background-image: url(./image/service-bg.webp);
}

.service-bg-dark {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.756);
    z-index: 1;
    padding: 5rem 0px;
}

/* End of Services */

/* certification */
.circle {
    width: 125px;
    /* height: 80px; */
    background-color: #000000;
    color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .circle {
        width: 100px;
        /* height: 60px; */
        font-size: 18px;
        padding: 3rem 0px;
    }
}

/* end of certification */


/* why us */
.why-us {
    background-color: rgba(0, 0, 0, 0.897);
}

/* end of why us */


/* .nav-sec {
    background-color: white;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: white;
}

nav>ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}


.home-link {
    background-color: #08143E;
    color: white;
} */

/* hero section */
/* .hero-sec {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.services-card {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.services-link {
    text-decoration: none;
}

.link-txt {
    color: #08143E;
    font-size: 1.5rem;
    font-weight: bold;
} */


/* footer */

.footer-sec {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

.footer-header {
    background-color: #cacbcdae;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


/* 
.header-tags {
    width: 65%;
    margin: 10rem auto 5rem;
    background-color: #08143ede;
}








.road-paving {
    background-color: #08143ed8;
} */

/* .intreesting-numbers {
    background-color: rgba(0, 0, 0, 0.897);
}

.dark-hero {
    background-color: rgba(0, 0, 0, 0.664);
}

.tag-icon {
    font-size: 5.5rem;
}

.hero-bg {
    background-image: url(./image/kaotheem-1.jpg);
    background-position: 80% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-bg {
    background-color: rgba(255, 255, 255, 0.247);
}

.kaotheem-bg {
    background-color: #08143eb7;
}

.services-bg-1 {
    background-color: #08143eb7;
}

.kaotheem-bg-3 {
    margin-top: 3rem;
} */

/* media  */
/* @media only screen and (min-width: 750px) {

    .kaotheem-bg-3 {
        margin-top: 0px;
    }

    .kaotheem-bg {
        width: 40%;
    }

    .kaotheem-bg-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6rem 0px;
    }

    .services-bg-1 {

        padding: 0px 3rem;
    }

    .services-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6rem 0px;
    }
} */

/* end media */


/* loop */
.scrolling-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 10px 0;
}

.loop-bg {
    background-color: rgba(255, 255, 255, 0.822);
}

.scrolling-content {
    display: flex;
    gap: 3rem;
    width: max-content;
    animation: scroll 15s linear infinite;
}


@keyframes scroll {
    from {
        transform: translateX(10);
    }

    to {
        transform: translateX(-50%);
    }
}


.anime-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.anime-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* btn */
